.nav {
  height: 100%;
  width: 35px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(233, 233, 233);
  overflow-x: hidden;
  padding-top: 20px;
  padding: 9px;
}

.nav__logo{
  border-radius: 5px;
  margin-top: 20px;
  height: 35px;
  width: 35px;
  cursor: pointer;
}
.nav__img{
  margin-top: 120px;
  border-radius: 5px;
  height: 35px;
  cursor: pointer;
  width: 35px;
}