.home{
  display: grid;
  justify-content: center;
  font-family: arial;
}

.home__header{
  height: 80px;
  margin-bottom: 8px;
  box-sizing: border-box;
  border-left: 12px solid;
  border-color: #96C7C1;
}

.home__description{
  display: flex;
  justify-content:space-evenly;
  font-size: 20px;
  color: gray
}

.workTasks{
  display: grid;
  justify-content: center;
  font-family: arial;
}

.workTasks__header{
  height: 80px;
  margin-bottom: 8px;
  box-sizing: border-box;
  border-left: 12px solid;
  border-color: #3c743a;
}

.workTasks__description{
  display: flex;
  justify-content:space-evenly;
  font-size: 20px;
  color: gray
}

.foodTasks{
  display: grid;
  justify-content: center;
  font-family: arial;
}

.foodTasks__header{
  height: 80px;
  margin-bottom: 8px;
  box-sizing: border-box;
  border-left: 12px solid;
  border-color: #a03535;
}

.foodTasks__description{
  display: flex;
  justify-content:space-evenly;
  font-size: 20px;
  color: gray
}